<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>links}}
   
</head>
<body>
    
  {{>navbar}}
    <!-- main header-->
    <div class="container-fluid main_header">
        <div class='row'>
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                <!--left side-->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/laptop2.png" alt="ashutosh" class="image-fluid" title="Ashutosh Bansal">
                    </figure>
                   </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to MyWeather</p>
                    <h1>Final year <span class="text">computer engineer </span>at Trinity College Dublin</h1>
                    <a href="https://ashutosh2302.github.io/MyPortfolio.github.io/" target="_ashu"><button>About me</button></a>
                </div>
                <!--right side-->
                
              </div>
            </div>
        </div>
    </div>
    
    <!--footer-->
    {{>footer}}

</body>
</html>